---
export interface Props {
  content: string,
}
const { content } = Astro.props;
---

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col">
    <div class="fr-notice fr-notice--info">
      <div class="fr-container">
        <div class="fr-notice__body">
          <p class="fr-notice__title">
            {content}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
