<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col fr-col-md-3">
    <div class="fr-callout">
      <h2 class="fr-callout__title">50%</h2>
      <p class="fr-callout__text">
        des déplacements en voiture sont réalisés à plusieurs
      </p>
    </div>
  </div>
  <div class="fr-col fr-col-md-3">
    <div class="fr-callout">
      <h2 class="fr-callout__title">1,43</h2>
      <p class="fr-callout__text">
        personnes par véhicule sur des distances inférieur à 100 km
      </p>
    </div>
  </div>
  <div class="fr-col">
    <div class="fr-callout">
      <h3 class="fr-callout__title">Explication</h3>
      <p class="fr-callout__text">
          Les parents d’enfants de 11 à 14 ans n’ont aucune démarche à accomplir : les CAF versent automatiquement l’ARS aux familles déjà allocataires qui remplissent les conditions.
      </p>
    </div>
  </div>
</div>

<style>
  .fr-col{
    display: flex;
  }
  .fr-callout{
    align-items: stretch;
  }
</style>

