---
import Navbar from '../components/Navbar.astro';
---
<header role="banner" class="fr-header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              <p class="fr-logo">
                Ministère
                <br /> de la transition
                <br /> écologique
              </p>
            </div>
            <div class="fr-header__operator">
              <img class="fr-responsive-img" src="/logo-rpc.png" alt="Registre de preuve de covoiturage" >
            </div>
            <div class="fr-header__navbar">
              <button
                class="fr-btn--menu fr-btn"
                data-fr-opened="false"
                aria-controls="modal-navbar"
                aria-haspopup="menu"
                id="button-navbar"
                title="Menu"
              >
                Menu
              </button>
            </div>
          </div>
          <div class="fr-header__service">
            <a
              href="/"
              title="Accueil - Registre de preuve de covoiturage - Ministère de la transition écologique"
            >
              <p class="fr-header__service-title">Registre de preuve de covoiturage</p>
            </a>
            <p class="fr-header__service-tagline">
              Développer le covoiturage
            </p>
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              <li>
                <a
                  class="fr-btn fr-btn--icon-right fr-icon-account-line"
                  href="https://app.covoiturage.beta.gouv.fr/"
                >
                  Connexion
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="fr-header__menu fr-modal"
    id="modal-navbar"
    aria-labelledby="button-navbar"
  >
    <div class="fr-container">
      <button
        class="fr-btn--close fr-btn"
        aria-controls="modal-navbar"
        title="Fermer"
      >
        Fermer
      </button>
      <div class="fr-header__menu-links"></div>
      <Navbar />
    </div>
  </div>
</header>

<style>
  .fr-responsive-img{
    max-width:4.5rem;
  }
</style>
