<nav class="fr-nav" id="header-navbar" role="navigation" aria-label="Menu principal">
  <ul class="fr-nav__list">
    <li class="fr-nav__item">
      <a class="fr-nav__link" href="/" target="_self">Accueil</a>
    </li>
    <li class="fr-nav__item">
      <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-observatoire">Observatoire</button>
      <div class="fr-collapse fr-menu" id="menu-observatoire">
        <ul class="fr-menu__list">
            <li>
                <a class="fr-nav__link" href="#" target="_self">Lien de navigation</a>
            </li>
            <li>
                <a class="fr-nav__link" href="#" target="_self">Lien de navigation</a>
            </li>
        </ul>
      </div>
    </li>
    <li class="fr-nav__item">
      <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-collectivite">Collectivités</button>
      <div class="fr-collapse fr-menu" id="menu-observatoire">
        <ul class="fr-menu__list">
            <li>
                <a class="fr-nav__link" href="#" target="_self">Lien de navigation</a>
            </li>
            <li>
                <a class="fr-nav__link" href="#" target="_self">Lien de navigation</a>
            </li>
        </ul>
      </div>
    </li>
    <li class="fr-nav__item">
      <a class="fr-nav__link" href="/entreprises" target="_self">Entreprises</a>
    </li>
    <li class="fr-nav__item">
      <a class="fr-nav__link" href="/particuliers" target="_self">Particuliers</a>
    </li>
    <li class="fr-nav__item">
      <a class="fr-nav__link" href="/operateurs" target="_self">Opérateurs</a>
    </li>
    <li class="fr-nav__item">
      <a class="fr-nav__link" href="/actualites" target="_self">Actualités</a>
    </li>
    <li class="fr-nav__item">
      <a class="fr-nav__link" href="/ressources" target="_self">Ressources</a>
    </li>
    <li class="fr-nav__item">
      <a class="fr-nav__link" href="/documentation" target="_self">Documentation</a>
    </li>
  </ul>
</nav>