---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import '@gouvfr/dsfr/dist/dsfr/dsfr.min.css';
import '@gouvfr/dsfr/dist/utility/icons/icons.css';
import '@/styles/global.css';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr" data-fr-scheme="system">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#000091"><!-- Défini la couleur de thème du navigateur (Safari/Android) -->
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg+xml">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon"><!-- 32×32 -->
    <link rel="manifest" href="/favicon/manifest.webmanifest" crossorigin="use-credentials">
		<title>{title} | RPC</title>
	</head>
	<body>
		<Header />
		<div class="fr-section">
			<div class="fr-container">
				<div class="fr-grid-row">
					<div class="fr-col-12">
						<h1 class="page-title">{title}</h1>
						<slot />
					</div>
				</div>
			</div>
		</div>
		<Footer />
		<script type="module" src="/dsfr/dsfr.module.min.js"></script>
    <script type="text/javascript" nomodule src="/dsfr/dsfr.nomodule.min.js"></script>
	</body>
</html>